/*==========================header==========================*/
.common_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #AA0601;
	padding: 0 88px;
}
.common_header .header_logo{
	margin: 30px 0;
}
.header_link_list{
	display: flex;
}
.header_link_list li{
	font-size: 20px;
	line-height: 30px;
}
.header_link_list li + li{
	margin-left: 64px;
}
.header_link_list a{
	color: #fff;
}
/*==========================footer==========================*/
.common_footer{
	/*temp mt*/
	margin-top: 100px;
	background: #AA0601;
}
.footer_link_list{
	display: flex;
}
.footer_link_list li{
	font-size: 16px;
	line-height: 24px;
}
.footer_link_list li + li{
	margin-left: 48px;
}
/*==========================Media queries==========================*/
@media only screen and (max-width: 1023px){
	/*header*/
	.common_header{
		padding: 0 39px;
	}
	.header_link_list li + li{
		margin-left: 40px;
	}
}
@media only screen and (max-width: 767px){
	/*header*/
	.common_header{
		padding: 0;
		flex-direction: column;
	}
	.common_header .header_logo{
		width: 48px;
		margin: 10px 0;
	}
	.common_header .header_link_list{
		width: 100%;
		flex-wrap: wrap;
	}
	.header_link_list li{
		width: calc(50% - 2px);
		text-align: center;
		border: 1px solid #fff;
	}
	.header_link_list li + li{
		margin: 0;
	}
}